{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" x-data="data()">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masho Fitness</title>
    <link rel="stylesheet" href="{% static 'public/main.css' %}">
    <link rel="icon" type="" sizes="32x32" href="{% static 'img/favicon.jpeg'%}"/>
    <link rel="icon" type="" sizes="16x16" href="{% static 'img/favicon.jpeg'%}"/>
    
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{% static 'js/init-alpine.js' %}"></script>
    <script src="{% static 'js/focus-trap.js' %}"></script>
    {% tailwind_css %}

</head>

<body>
    <div class="h-screen ">
        <div class="py-3 px-10 drop-shadow-sm flex-row flex cursor-no-drop w-full bg-slate-100">
            <img src="" alt="">
            <p class="text-orange-700 text-2xl font-mono font-extrabold">Masho Fitness</p>
        </div>
        <form action="">

            
            <div class="flex bg-gray-200 rounded-md my-2 mx-auto flex-col w-4/12 shadow-lg px-4 py-2 gap-x-4 gap-y-1">
                <div class="mx-auto">
                    <span class="font-serif text-xl font-semibold text-zinc-600">Create User Account</span>
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">First Name</Label>
                    <input type="text" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">Last Name</Label>
                    <input type="text" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">User Name (without space)</Label>
                    <input type="text" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">Email</Label>
                    <input type="text" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">Password</Label>
                    <input type="text" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="flex flex-col">
                    <Label class="p-1 text-neutral-800 font-semibold">Confirm Password</Label>
                    <input type="password" class="rounded-md shadow-inner bg-white outline-none border-none">
                </div>

                <div class="space-x-4 py-3 text-center">
                    <a href="/login/"><span class="font-semibold">Login Here</span></a>
                    <button class="bg-blue-600 px-6 rounded-xl text-white font-semibold font-mono text-lg py-1">
                        Sign Up
                    </button>
                </div>
            </div>

        </form>
    </div>
</body>

</html>